[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/jsphuebner/libopencm3
[submodule "libopeninv"]
	path = libopeninv
	url = https://github.com/jsphuebner/libopeninv.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
